<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">

	<jmxConfigurator />

	<include resource="org/springframework/boot/logging/logback/base.xml" />

    <logger name="org.springframework" level="WARN" />
    <logger name="org.hibernate.SQL" level="DEBUG" />
    <logger name="org.hibernate.type" level="TRACE" />

	<appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
		<remoteHost>127.0.0.1</remoteHost>
		<port>5514</port>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder" />
	</appender>

	<root level="INFO">
		<appender-ref ref="stash" />
	</root>

</configuration>